<style>
body{background:transparent;}
.vlocity .field-label, .vlocity label, .vlc-check-label{text-transform:none;font-size:14px;}
.vlocity label, .vlc-check-label, .vlocity .field-label, .vlocity .vlc-block-heading{display:inline;color: rgba(0, 0, 0, 0.9);}
.vlocity input[type="checkbox"]{font-size:36px;}
br{display:none;}
.programDesc{margin-left:20px; margin-bottom: 20px; border: 1px solid #e3e3e3; background-color: #f5f5f5; padding:20px; border-radius: 6px;}
.programDesc p{line-height:18px;margin-bottom:0;}
.programDesc img{float:left;padding-right:20px; width:15%; height:auto;}
.programDesc:after{visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;}
.programContent{float:right;width:85%;}


.via-slds .slds-radio .slds-radio--faux
{ border: 2px solid #49739c; }

.via-slds .slds-checkbox .slds-checkbox--faux
{ border: 2px solid #49739c; }

.vlocity ng-form{
    min-height: 1px !important;
}

ng-form.demo-short {
    min-height: 1em !important;
}

</style>


<script type="text/ng-template" id="demoDataButton">
 <div class="slds-col--padded slds-size--1-of-1 ng-scope">
   <ng-form name="loopform"
     class="slds-form-element vlc-flex vlc-form-group vlc-slds-remote-action--button ng-pristine ng-valid ng-scope demo-short"
     ng-repeat="control in child.eleArray">
       <div class="slds-form-element__control">
         <div class="vlc-control-wrapper">
           <div  id='{{::control.name}}'
                 class="vlc-slds-button--tertiary ng-binding ng-scope"
                 title='{{::control.propSetMap.label}}'
                 ng-click="buttonClick(this.bpTree.response, control, this)"
                 style="font-style: italic; font-size: smaller; cursor: pointer; text-align: right;">{{::control.propSetMap.label}}</div>
         </div>
       <div class="vlc-sub-block"></div>
     </div>
   </ng-form>
 </div>
</script>